/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #ededed;
    text-align: center;
    border-bottom: 2px solid #cf8c0b;
}

.cv-picture {
    width: 200px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Main */