/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #ededed;
    text-align: center;
    border-bottom: 2px solid #cf8c0b;
}

.cv-picture {
    width: 200px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Main */
.container {
    width: 90%;
    margin: auto;
}
h2 {
    color: #cf8c0b;
    margin-top: 15px;
    margin-bottom: 15px;
}
h3 {
    font-style: italic;
    margin-bottom: 10px;
}
.item {
    margin-top: 20px;
}
.item span {
    font-weight: 800;
}
hr {
    border-color: #cf8c0b;
    margin-top: 20px;
    margin-bottom: 20px;
}